<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap" rel="stylesheet" />

    <link href="./stylesheets/all.min.css" rel="stylesheet" />
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="./stylesheets/main.css" rel="stylesheet" />
    <link href="./stylesheets/carousel.css" rel="stylesheet" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/pusher.min.js"></script>
    <script src="./js/moment.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/gamepad.min.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/receivePush.js"></script>

    <title>Home Media Center</title>
</head>

<body>
    <div class="container-fluid h-100 d-flex flex-column">
        <div class="row">
            <div class="col-sm d-flex justify-content-center align-items-center align-items-left">
                <div style="position: absolute; left: 0; padding-left: 50px;">
                    <div id="controllerToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="3000">
                        <table>
                            <tr>
                                <td>
                                    <i id='controllerIcon' class="fab fa-3x" style="margin: 10px 0px 10px 10px;"></i>
                                </td>
                                <td style="width: 100%;">
                                    <div class="toast-body col-sm align-items-center"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div id="dialogToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="3000">
                        <table>
                            <tr>
                                <td>
                                    <i id='toastIcon' style="margin: 10px 0px 10px 10px;"></i>
                                </td>
                                <td style="width: 100%;">
                                    <div class="toast-body col-sm align-items-center"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h1 id="datetime" class="display-4 text-right text-light font-weight-lighter">
                    <script lang="javascript">
                        var update = function () {
                            document.querySelector("#datetime").innerHTML = moment().format('HH:mm');
                        }
                        update();
                        setInterval(update, 10000);
                    </script>
                </h1>
            </div>
        </div>
        <div class="row flex-grow-1" style="overflow-y: auto;">
            <div class="row__inner menu-row align-items-center">
                <div class="tile menu-item menu-selected">
                    <div class="tile__media">
                        <img class="tile__img" src="./images/popcorn@2x.png" alt="" />
                    </div>
                    <div class="tile__details">
                        <div class="tile__title text-light">
                            Popcorn time movie player
                        </div>
                    </div>
                </div>

                <div class="tile menu-item">
                    <div class="tile__media">
                        <img class="tile__img" src="./images/radio@2x.png" alt="" />
                    </div>
                    <div class="tile__details">
                        <div class="tile__title text-light">
                            Odio radio station
                        </div>
                    </div>
                </div>

                <div class="tile menu-item">
                    <div class="tile__media">
                        <img class="tile__img" src="./images/steam@2x.png" alt="" />
                    </div>
                    <div class="tile__details text-light">
                        <div class="tile__title">
                            Steam game store
                        </div>
                    </div>
                </div>

                <div class="tile menu-item">
                    <div class="tile__media">
                        <img class="tile__img" src="./images/kodi@2x.png" alt="" />
                    </div>
                    <div class="tile__details">
                        <div class="tile__title text-light">
                            Kodi media center
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid menu-row align-top">
                <div class="menu-item">
                    <img class="small-menu-item" src="./images/netflix.png" alt="netflix" />
                </div>
                <div class="menu-item">
                    <img class="small-menu-item" src="./images/youtube.png" alt="youtube" />
                </div>
                <div class="menu-item">
                    <img class="small-menu-item" src="./images/twitch.png" alt="twitch" />
                </div>
                <div class="menu-item">
                    <img class="small-menu-item" src="./images/vlc.png" alt="vlc" />
                </div>
            </div>
            <div class="container-fluid menu-row align-top">
                <div class="menu-item">
                    <img class="small-menu-item" src="./images/plex.png" alt="plex" />
                </div>
                <div class="menu-item">
                    <img class="small-menu-item" src="./images/spotify.png" alt="spotify" />
                </div>
                <div class="menu-item">
                    <a href="./cast">
                        <img class="small-menu-item" src="./images/cast.png" alt="cast" />
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>