body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

#datetime {
    padding: 50px;
}

.menu-row {
    padding-left: 50px;
    padding-right: 50px;
}

.menu-item {
    border: 5px solid transparent;
    position: relative;
    display: inline-block;
}

.small-menu-item{
    width: 250px;
    height: 150px;
}

.menu-selected {
    border: 5px solid white;
}

table {
    border: 0px none transparent;
    margin: 0;
    padding: 0;
}